.has-standard-spacing{
   margin-top: rem(45);
   margin-bottom: rem(45);

   @include media-breakpoint-up(md) {
      margin-top: rem(60);
      margin-bottom: rem(60);   
   }
}

.has-block-spacing{
   margin-top: rem(35);
   margin-bottom: rem(35);
   
   @include media-breakpoint-up(md) {
      margin-top: rem(45);
      margin-bottom: rem(45);   
   }
}